@font-face{
	font-family: FuturaPT;
	font-display: swap;
	src: url("../fonts/FuturaPT-Book.woff2") format("woff2"), url("../fonts/FuturaPT-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: FuturaPT;
	font-display: swap;
	src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"), url("../fonts/FuturaPT-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: FuturaPT;
	font-display: swap;
	src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"), url("../fonts/FuturaPT-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: FuturaPT;
	font-display: swap;
	src: url("../fonts/FuturaPT-Book.woff2") format("woff2"), url("../fonts/FuturaPT-Book.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face{
	font-family: Gilroy;
	font-display: swap;
	src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face{
	font-family: p22undergroundcyprobook;
	font-display: swap;
	src: url("../fonts/p22undergroundcyprobook.woff2") format("woff2"), url("../fonts/p22undergroundcyprobook.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: p22undergroundcyprobook;
	font-display: swap;
	src: url("../fonts/p22undergroundcyprobook.woff2") format("woff2"), url("../fonts/p22undergroundcyprobook.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: SFUIDisplay;
	font-display: swap;
	src: url("../fonts/SFUIDisplay-Bold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: SFUIDisplay;
	font-display: swap;
	src: url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"), url("../fonts/SFUIDisplay-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: SFUIDisplay;
	font-display: swap;
	src: url("../fonts/SFUIDisplay-Bold.woff2") format("woff2"), url("../fonts/SFUIDisplay-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: SFUIDisplay;
	font-display: swap;
	src: url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"), url("../fonts/SFUIDisplay-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
